<footer class="footer">
    <img class="footer__logo" src="{{ site.url }}/assets/images/logo.png">
    <p class="footer__credit">Made by <a href="http://vix.digital/">VIX<span class="font-weight_light">DIGITAL</span></a></h4>
    <div class="footer__social">
        <a href="https://www.facebook.com/vixdigitaluk/"><img class="footer__social-icon" src="{{ site.url }}/assets/images/icon-fb.png"></a>
        <a href="https://twitter.com/vix_digital"><img class="footer__social-icon" src="{{ site.url }}/assets/images/icon-twitter.png"></a>
        <a href="https://www.linkedin.com/company-beta/18005420/"><img class="footer__social-icon" src="{{ site.url }}/assets/images/icon-linkedin.png"></a>
    </div>
</footer>
