<footer class="footer">
    <img class="footer__logo" src="{{ site.url }}/assets/images/logo.png">
    <p class="footer__credit">Made by <a href="http://www.vix.digital/">VIX<span class="font-weight_light">DIGITAL</span></a></h4>
    <div class="footer__social">
        <a href=""><img class="footer__social-icon" src="{{ site.url }}/assets/images/icon-fb.png"></a>
        <a href=""><img class="footer__social-icon" src="{{ site.url }}/assets/images/icon-twitter.png"></a>
        <a href=""><img class="footer__social-icon" src="{{ site.url }}/assets/images/icon-linkedin.png"></a>
    </div>
</footer>