---
layout: default
---
<div class="page-header">
    <h1 class="page-header__title">The Playbook</h1>
    <h4 class="page-header__subtitle">An instruction manual to help us run great projects</h4>
</div>

<div class="main-content">
    <div class="section">
        <h4 class="section__title">Our Mission</h4>
        <p>We are all passionate individuals that understand the need to engage with our clients to ensure that the technological 
            solutions are owned and understood by the people using them. We take a consultative approach and work with clients to make
            their digital strategy a success.</p>
        <p>
            User responsive design forms the heart of our delivery. Taking complex problems to create simple and elegant user experiences.
            By collaborating with clients, developers and designers we create world class digital services across all user connection points.
            Using real time data to constantly improve services.
        </p>
    </div>

    <div class="section">
        <h4 class="section__title">Planning and Communication</h4>
        <p>The key to any successful project is thorough planning and constant communication.</p>
        {% for play in site.plays %}
            {% if play.categories contains "planning-and-communication" %}
                <p><a class="section__link" href="{{ play.url | relative_url }}">{{ play.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">Choosing the Stack</h4>
        <p>We love technology, but we only use the best tool for the job.</p>
        {% for play in site.plays %}
            {% if play.categories contains "choosing-the-stack" %}
                <p><a class="section__link" href="{{ play.url | relative_url }}">{{ play.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">Designing</h4>
        <p>We constantly like to explore new tools that will make the design process simplier and more efficient. Our designers need to be able to adapt to changes in user needs and technology.</p>
        {% for play in site.plays %}
            {% if play.categories contains "designing" %}
                <p><a class="section__link" href="{{ play.url | relative_url }}">{{ play.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">Developing</h4>
        <p>Say something about developing</p>
        {% for play in site.plays %}
            {% if play.categories contains "developing" %}
                <p><a class="section__link" href="{{ play.url | relative_url }}">{{ play.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>

    <div class="section">
        <h4 class="section__title">Our Company</h4>
        <p>The heart of the company is our team and together we create pioneering applications. We firmly believe in work hard, play hard.</p>
        {% for play in site.plays %}
            {% if play.categories contains "our-company" %}
                <p><a class="section__link" href="{{ play.url | relative_url }}">{{ play.title | escape }}</a></p>
            {% endif %}
        {% endfor %}
    </div>
</div>

